@{
    ViewBag.Title = "Access Request";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Models.ViewModel
@model AccessModel
@using (@Html.BeginForm("AEdit", "Request", FormMethod.Post, new { @id = "frmAC", enctype = "multipart/form-data" }))
{    
    @Html.HiddenFor(m => m.BAID)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m=>m.TicketID)
    @Html.HiddenFor(m=>m.Prefix)
    <!-- **Breadcrumb Section** -->
    <div class="breadcrumb-section">
        <div class="container">
            <h1>Access Request</h1>
            <div class="breadcrumb">
                <a href="/Dashboard/Index" title="">Home</a> / <span>Access</span>
            </div>
        </div>
    </div>
    <!-- **Breadcrumb Section Ends** -->

    <!-- **Content Main** -->
    <section class="content-main">
        <!-- **Container** -->
        <div class="container">



            <div class="panel panel-info" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                <div class="panel-heading" style="position: relative;">
                    Access Request Details
                    <a href="/Request/Access"><input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" /></a>
                    @*<a href="/Request/Access" class="btnAdd btn btn-primary">Back</a>*@
                </div>
                <div class="panel-body">
                    @*  <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">General</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">One</li>
                                <li class="list-group-item">Two</li>
                                <li class="list-group-item">Three</li>
                            </ul>
                            <div class="panel-footer">Footer</div>
                        </div>
                    </div>
                </div>*@
                    @{int role = 0;
                      if (Session["Role"] != null)
                      {
                          role = Convert.ToInt32(Session["Role"].ToString());
                      }
                    }
                     @if(role==1)
                {
                    <fieldset class="scheduler-border">
                            <legend class="scheduler-border">User Detail</legend>

                        @Html.Label("* Company", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">

                                    @*@Html.DropDownListFor(m => m.DataCenter, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Data Center--", Value = "" }, new SelectListItem() { Text = "Global Switch", Value = "1" }, new SelectListItem() { Text = "NextDC S1", Value = "2" }, new SelectListItem() { Text = "NextDC M1", Value = "3" }, new SelectListItem() { Text = "NextDC B1", Value = "4" } }, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.comp, new SelectList(Model.ListComp, "CompID", "Name"), "--Select Company--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.comp)
                                </div>
                        @Html.Label("* User", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.CreatedBy, new SelectList(Model.UserList, "UID", "FirstName"), "--Select User--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CreatedBy)
                            </div>
                        </fieldset>
                }

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Data Centre</legend>
                        <div class="form-group">
                            @Html.Label("* Data Centre", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">

                                @*@Html.DropDownListFor(m => m.DataCenter, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Data Center--", Value = "" }, new SelectListItem() { Text = "Global Switch", Value = "1" }, new SelectListItem() { Text = "NextDC S1", Value = "2" }, new SelectListItem() { Text = "NextDC M1", Value = "3" }, new SelectListItem() { Text = "NextDC B1", Value = "4" } }, new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.DataCenter, new SelectList(Model.ListDC, "DCID", "DataCenter"), "--Select Data Centre--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DataCenter)
                            </div>





                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Visitor Details</legend>
                       <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Visitor 1</a></li>
                            <li><a data-toggle="tab" href="#menu1">Visitor 2</a></li>
                            <li><a data-toggle="tab" href="#menu2">Visitor 3</a></li>
                            <li><a data-toggle="tab" href="#menu3">Visitor 4</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Visitor-1</h3>
                                @Html.Label("* First Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName)

                                </div>
                                @Html.Label("* Last Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName)

                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("* Company", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Company)

                                </div>
                                @Html.Label("* Phone", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.phone)

                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Visitor-2</h3>
                                @Html.Label("First Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SFirstName, new { @class = "form-control" })
                                </div>
                                @Html.Label("Last Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SLastName, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("Company", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SCompany, new { @class = "form-control" })
                                </div>
                                @Html.Label("Phone", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SPhone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Visitor-3</h3>
                                  @Html.Label("First Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.TFirstName, new { @class = "form-control" })
                                </div>
                                @Html.Label("Last Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.TLastName, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("Company", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.TCompany, new { @class = "form-control" })
                                </div>
                                @Html.Label("Phone", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.TPhone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <h3>Visitor-4</h3>
                                  @Html.Label("First Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.FFirstName, new { @class = "form-control" })
                                </div>
                                @Html.Label("Last Name", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.FLastName, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("Company", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.FCompany, new { @class = "form-control" })
                                </div>
                                @Html.Label("Phone", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.FPhone, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Date and Time</legend>
                        <div class="form-group">
                            @Html.Label("* Start Date/Time", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                <div class='input-group date datetimepicker'>
                                    @Html.TextBoxFor(m => m.StDateTime, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @placeholder = "mm/dd/yyyy hh:mm" })
                                    @Html.ValidationMessageFor(m => m.StDateTime)
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>

                                    @*                                    @Html.TextBoxFor(m => m.StTime, new { @class = "form-control timepicker", @placeholder = "HH:MM" })
                                    @Html.ValidationMessageFor(m => m.StTime)*@

                                </div>

                            </div>
                            @Html.Label("* End Date/Time", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                <div class='input-group date datetimepicker'>
                                    @Html.TextBoxFor(m => m.EndDateTime, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @placeholder = "mm/dd/yyyy hh:mm" })
                                    @Html.ValidationMessageFor(m => m.EndDateTime)
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @*      @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", @placeholder = "HH:MM" })
                                    @Html.ValidationMessageFor(m => m.EndTime)*@
                                </div>

                            </div>


                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Other Information</legend>
                        <div class="form-group">
                            @Html.Label("* Reason of Access", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Reason, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(m => m.Reason)*@

                            </div>

                            @Html.Label("Status", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(m => m.IsActive, "True")Active
                        @Html.RadioButtonFor(m => m.IsActive, "False")InActive
                            </div>

                        </div>
                    </fieldset>

                    <div class="col-sm-3">
                        <input type="submit" name="btnsend" value="Update" class="dt-sc-button small" />
                    </div>
                </div>
            </div>

        </div>
    </section>
}

<script lang="javascript" type="text/javascript">
    $(document).ready(function () {
        //Get Plotno by schemeID
        $("#comp").change(function () {
            $("#divLoading").show();
            debugger;
            
            var CompIds = $('#comp').val();
            $.ajax(
            {
                url: '@Url.Action("FillUser", "Request")',
                type: "GET",
                datatype: "JSON",
                data: { cid: CompIds },

                success: function (user) {
                    debugger;

                    $("#CreatedBy").html("");  // clear before appending new list 
                    $("#CreatedBy").append("<option value='0'>--Select User--</option>");
                    $.each(user, function (i, CreatedBy) {

                        $("#CreatedBy").append(

                            $('<option></option>').val(user.UID).html(user.Title + ' ' + user.FirstName + ' ' + user.LastName));
                        $("#divLoading").hide();
                    });
                    
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                    $("#divLoading").hide();
                }

            });

        });
    });
        </script>